<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container battery display-4 text-center py-4">
    ACDELCO BATTERY REPLACEMENT , DELIVERY , INSTALLATION AT DUBAI AND SHARJAH
  </div>
  <div class="container shadow-lg">
    <div class="row">
      <div class="col-md-5">
      <img
          alt="car battery replacement dubai"
          class="img-fluid batteryProd lazyload"
          src="img/product1.webp"
        />
        <smal class="small d-flex justify-content-end">
          Sold By hakstime
        </smal>
      </div>
      <div class="col-md-5">
        <div class="col-md-12">
          <h1 class="heading">Acdelco</h1>
        </div>
        <div class="col-md-12">
          <span class="label label-primary">Acdelco</span>
          <span class="monospaced">No. 00003</span>
        </div>
        <div class="col-md-12">
          <span
            class="glyphicon glyphicon-star glyph"
            aria-hidden="true"
          ></span>
          <span
            class="glyphicon glyphicon-star glyph"
            aria-hidden="true"
          ></span>
          <span
            class="glyphicon glyphicon-star glyph"
            aria-hidden="true"
          ></span>
          <span
            class="glyphicon glyphicon-star glyph"
            aria-hidden="true"
          ></span>
          <span
            class="glyphicon glyphicon-star-empty glyph"
            aria-hidden="true"
          ></span>
        </div>
        <div class="col-md-12">
          <p class="smal">
            <span class="label label-success">In Stock</span>
          </p>
          <a href="/contact" rel="noopener noreferrer" target="_newtab" title="car battery replacement dubai and sharjah">
            <button type="button" class="btn  btn-success btn-lg">
              ORDER NOW
            </button>
          </a>
        </div>
        <div class="col-md-12 pt-4">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-a active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                title="car battery dubai"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
              >
                Description
              </a>
              <a
                class="nav-item nav-a"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                title="car battery replacement sharjah"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                Feature
              </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane  active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              The AC DElco AA batteries performed as good as the much more
              expensive Duracell and energizer batteries and are well
              worth buying. This applies if you use a lot of these guy's
              for remote controls or other small electric battery powered
              devices.
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              The ACDelco Professional Gold Batteries feature an impact-
              and break-resistant plastic case for durability, including
              robust separator envelopes for extended battery life
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="col-md-12 pt-1">Other Battery List</div>
        <div class="col-md-12">
          <a href="/amaron-battery" title="car battery replacement dubai and sharjah">
            <img
              src="img/product2.webp"
              alt="car battery dubai price"
              class="img-fluid spanbattery lazyload"
            />
          </a>
        </div>

        <div class="col-md-12" >
          <a href="/solite-battery" title="car battery replacement dubai and sharjah">
            <img
              src="img/product4.webp"
              alt="agm car battery dubai"
              class="img-fluid spanbattery lazyload"
            />
          </a>
        </div>
        <div class="col-md-12">
          <a href="/varta-battery" title="car battery replacement dubai and sharjah">
            <img
              src="img/product3.webp"
              alt="car battery price sharjah"
              class="img-fluid spanbattery lazyload"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer'); %>
</body>
</html>